{% load static %}

<!DOCTYPE HTML>
<html>

<head>
	<title>eveRY LIfe is Precious | Home </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
	<script src="{% static 'js/Chart.min.js' %}"></script>
	<script src="//cdn.jsdelivr.net/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
	<script>window.modernizr || document.write('<script src="lib/modernizr/modernizr-custom.js"><\/script>')</script>
	<script src="{% static 'js/chartinator.js' %}"></script>
	<script type="text/javascript">
		jQuery(function ($) {

			var chart3 = $('#geoChart').chartinator({
				tableSel: '.geoChart',

				columns: [{ role: 'tooltip', type: 'string' }],

				colIndexes: [2],

				rows: [
					{% for elephant in elephants %}
						['{{ elephant.country }} - {{ elephant.population_estimee }} {{ elephant.annee|date:"Y" }}'],
					{% endfor %}
				],

				ignoreCol: [2],

				chartType: 'GeoChart',

				chartAspectRatio: 1.5,

				chartZoom: 1.75,

				chartOffset: [-12, 0],

				chartOptions: {

					width: null,

					backgroundColor: '#fff',

					datalessRegionColor: '#F5F5F5',

					region: 'world',

					resolution: 'countries',

					legend: true,

					colorAxis: {

						colors: ['#679CCA', '#337AB7']
					},
					tooltip: {

						trigger: 'focus',

						isHtml: true
					}
				}


			});
		});
	</script>
	<script src="{% static 'js/skycons.js' %}"></script>
</head>

<body>
	<div class="page-container">
		<div class="left-content">
			<div class="mother-grid-inner">
				<!--header start here-->
				<div class="header-main">
					<div class="header-left">
						<div class="logo-name">
							<a href="{% url 'index' %}">
								<!--<h1>RYLIP</h1> -->
								<img id="logo" src="{{ website.logo.url }}" alt="Logo" width='70%' />
							</a>
						</div>

						<div class="clearfix"> </div>
					</div>
					<div class="header-right">
						<div class="profile_details_left">
							<!--notifications of menu start -->
							<div class="clearfix"> </div>
						</div>
						<!--notification menu end -->
						<div class="profile_details">
							<ul>
								<li class="dropdown profile_details_drop">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
										{% if request.user.is_authenticated %}
										<div class="profile_img">
											<span class="prfil-img"><img
													style='width:50px;height:50px;border:2px solid forestgreen;border-radius:50%'
													src="{{ request.user.photoprofile }}" alt=""> </span>
											<div class="user-name">
												<p>{{ request.user.get_full_name }}</p>
												{% if request.user.is_admin %}
												<span>Administrator</span>
												{% else %}
												<span>Visitor</span>
												{% endif %}
											</div>
											<i class="fa fa-angle-down lnr"></i>
											<i class="fa fa-angle-up lnr"></i>
											<div class="clearfix"></div>
										</div>
										{% endif %}
									</a>
									<ul class="dropdown-menu drp-mnu">
										{% comment %} <li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li>
										<li> <a href="#"><i class="fa fa-user"></i> Profile</a> </li> {% endcomment %}
										{% if request.user.is_authenticated %}
										<li> <a href="{% url 'logout_view' %}"><i class="fa fa-sign-out"></i> Logout</a>
										</li>
										{% else %}
										<li> <a href="{% url 'signup' %}"><i class="fa fa-sign-out"></i> Login</a> </li>
										{% endif %}
									</ul>
								</li>
							</ul>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<!--heder end here-->
				<!-- script-for sticky-nav -->
				<script>
					$(document).ready(function () {
						var navoffeset = $(".header-main").offset().top;
						$(window).scroll(function () {
							var scrollpos = $(window).scrollTop();
							if (scrollpos >= navoffeset) {
								$(".header-main").addClass("fixed");
							} else {
								$(".header-main").removeClass("fixed");
							}
						});

					});
				</script>
				<!-- /script-for sticky-nav -->
				<!--inner block start here-->
				<div class="inner-block">
					<!--market updates updates-->

					<!--market updates end here-->
					<!--mainpage chit-chating-->
					<div class="chit-chat-layer1">
						<div class="col-md-6 chit-chat-layer1-left">
							<div class="work-progres">
								<div class="chit-chat-heading">
									Quelques espèces ménacées
								</div>
								<div class="table-responsive">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>#</th>
												<th>Nom</th>
												<th>Population</th>
												<th>Status</th>
												<th>Ménace</th>
											</tr>
										</thead>
										<tbody>
											{% for espece in especes %}
												<tr>
													<td>{{ forloop.counter }}</td>
													<td>{{ espece.nom }}</td>
													<td>{{ espece.population_estimee }}</td>
													{% if espece.statut == '1' %}
														<td><span class="label label-success">{{ espece.get_statut_display }}</span></td>
														<td><span class="badge badge-info">{{ espece.menace }}</span></td>
													{% elif espece.statut == '0' %}
														<td><span class="label label-warning">{{ espece.get_statut_display }}</span></td>
														<td><span class="badge badge-info">{{ espece.menace }}</span></td>
													{% else %}
														<td><span class="label label-danger">{{ espece.get_statut_display }}</span></td>
														<td><span class="badge badge-info">{{ espece.menace }}</span></td>
													{% endif %}
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="col-md-6 chit-chat-layer1-rit">
							<div class="geo-chart">
								<section id="charts1" class="charts">
									<div class="wrapper-flex">

										<table id="myTable" class="geoChart tableChart data-table col-table"
											style="display:none;">
											<caption>Student Nationalities Table</caption>
											<tr>
												<th scope="col" data-type="string">Pays</th>
												<th scope="col" data-type="number">Estimation</th>
												<th scope="col" data-role="annotation">Année</th>
											</tr>
											{% for elephant in elephants %}
												<tr>
													<td>{{ elephant.country }}</td>
													<td align="right">{{ elephant.population_estimee }}</td>
													<td align="right">{{ elephant.annee|date:'Y' }}</td>
												</tr>
											{% endfor %}

										</table>

										<div class="col geo_main">
											<h3 id="geoChartTitle">World Market</h3>
											<div id="geoChart" class="chart"> </div>
										</div>


									</div><!-- .wrapper-flex -->
								</section>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<!--main page chit chating end here-->
					<!--main page chart start here-->
					<div class="main-page-charts">
						<div class="main-page-chart-layer1">
							<div class="col-md-6 chart-layer1-left">
								<div class="glocy-chart">
									<div class="span-2c">
										<h3 class="tlt">Sales Analytics</h3>
										<canvas id="bar" height="300" width="400"
											style="width: 400px; height: 300px;"></canvas>
										<script>
											var barChartData = {
												labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "jul"],
												datasets: [
													{
														fillColor: "#FC8213",
														data: [65, 59, 90, 81, 56, 55, 40]
													},
													{
														fillColor: "#337AB7",
														data: [28, 48, 40, 19, 96, 27, 100]
													}
												]

											};
											new Chart(document.getElementById("bar").getContext("2d")).Bar(barChartData);

										</script>
									</div>
								</div>
							</div>
							<div class="col-md-6 chart-layer1-right">
								<div class="user-marorm">
									<div class="malorum-top">
									</div>
									<div class="malorm-bottom">
										<span class="malorum-pro"
											style="background: url({{ request.user.photoprofile }})no-repeat;background-size: cover;">
										</span>
										<h2>{{ request.user.get_full_name }}</h2>
										<p>{{ request.user.description }}</p>
										<ul class="malorum-icons">

											{% if request.user.facebook_link %}
											<li><a href="{{ request.user.facebook_link }}"><i class="fa fa-facebook">
													</i>
													<div class="tooltip"><span>Facebook</span></div>
												</a></li>
											{% endif %}
											{% if request.user.tweeter_link %}
											<li><a href="{{ request.user.tweeter_link }}"><i class="fa fa-twitter"> </i>
													<div class="tooltip"><span>Twitter</span></div>
												</a></li>
											{% endif %}
											{% if request.user.google_link %}
											<li><a href="{{ request.user.google_link }}"><i class="fa fa-google-plus">
													</i>
													<div class="tooltip"><span>Google</span></div>
												</a></li>
											{% endif %}
										</ul>
									</div>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<!--main page chart layer2-->
					<div class="chart-layer-2">

						<div class="col-md-6 chart-layer2-right">
							<div class="prograc-blocks">
								<!--Progress bars-->
								<div class="home-progres-main">
									<h3>Total Sales</h3>
								</div>
								<div class='bar_group'>
									<div class='bar_group__bar thin' label='Rating' show_values='true' tooltip='true'
										value='343'></div>
									<div class='bar_group__bar thin' label='Quality' show_values='true' tooltip='true'
										value='235'></div>
									<div class='bar_group__bar thin' label='Amount' show_values='true' tooltip='true'
										value='550'></div>
									<div class='bar_group__bar thin' label='Farming' show_values='true' tooltip='true'
										value='456'></div>
								</div>
								<script src="{% static 'js/bars.js' %}"></script>

							</div>
						</div>
						<div class="col-md-6 chart-layer2-left">
							<div class="content-main revenue">
								<h3>Total Revenue</h3>
								<canvas id="radar" height="300" width="300"
									style="width: 300px; height: 300px;"></canvas>
								<script>
									var radarChartData = {
										labels: ["", "", "", "", "", "", ""],
										datasets: [
											{
												fillColor: "rgba(104, 174, 0, 0.83)",
												strokeColor: "#68ae00",
												pointColor: "#68ae00",
												pointStrokeColor: "#fff",
												data: [65, 59, 90, 81, 56, 55, 40]
											},
											{
												fillColor: "rgba(236, 133, 38, 0.82)",
												strokeColor: "#ec8526",
												pointColor: "#ec8526",
												pointStrokeColor: "#fff",
												data: [28, 48, 40, 19, 96, 27, 100]
											}
										]

									};
									new Chart(document.getElementById("radar").getContext("2d")).Radar(radarChartData);
								</script>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>

					<!--climate start here-->
					<div class="climate">
						<div class="clearfix"> </div>
					</div>
					<!--climate end here-->
				</div>
				<!--inner block end here-->
				<!--copy rights start here-->
				<div class="copyrights">
					<p>{{ website.copyright }}</p>
				</div>
				<!--COPY rights end here-->
			</div>
		</div>
		<!--slider menu-->
		<div class="sidebar-menu">
			<div class="logo"> <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="#">
					<span id="logo"></span>
					<!--<img id="logo" src="" alt="Logo"/>-->
				</a> </div>
			<div class="menu">
				<ul id="menu">
					<li id="menu-home"><a href="{% url 'index' %}"><i
								class="fa fa-tachometer"></i><span>Dashboard</span></a></li>

					<li><a href="{% url 'about' %}"><i class="fa fa-file-text"></i><span>A propos</span></a></li>
					{% if not request.user.is_authenticated %}
						<li><a href="{% url 'signup' %}"><i class="fa fa-sign-in"></i><span>Connexion</span></a></li>
					{% endif %}

					<li><a href="{% url 'camera' %}"><i class="fa fa-bar-chart"></i><span>Cameras</span></a></li>
				</ul>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!--slide bar menu end here-->
	<script>
		var toggle = true;

		$(".sidebar-icon").click(function () {
			if (toggle) {
				$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
				$("#menu span").css({ "position": "absolute" });
			}
			else {
				$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
				setTimeout(function () {
					$("#menu span").css({ "position": "relative" });
				}, 400);
			}
			toggle = !toggle;
		});
	</script>
	<!--scrolling js-->
	<script src="{% static 'js/jquery.nicescroll.js' %}"></script>
	<script src="{% static 'js/scripts.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"> </script>
	<!-- mother grid end here-->
</body>

</html>