{% load static %}

<!DOCTYPE HTML>
<html>
<head>
<title>eveRY LIfe is Precious | Signup </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<link href="{%static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all">
<!-- Custom Theme files -->
<link href="{%static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
<!--js-->
<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script> 
<!--icons-css-->
<link href="{%static 'css/font-awesome.css' %}" rel="stylesheet">
<!--Google Fonts-->
<link href='//fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Work+Sans:400,500,600' rel='stylesheet' type='text/css'>
<!--//charts-->
</head>
<body>	
<!--inner block start here-->
<div class="signup-page-main">
     <div class="signup-main" id='user_login_post'>  	
    	 <div class="signup-head">
				<h1>Sign Up</h1>
			</div>
			<div class="signup-block">
				<form>
					<input type="text" v-model='login_email' placeholder="Email" class="lock">
					<input type="password" v-model='login_password' class="lock" placeholder="Password">
					<div class="forgot-top-grids">
						<div class="forgot-grid">
							<ul>
								<li>
									<input type="checkbox" id="brand1" true-value="true" false-value="false" v-model="accepter">
									<label for="brand1"><span></span>J'accepte les termes et conditions</label>
								</li>
							</ul>
						</div>
						
						<div class="clearfix"> </div>
					</div>
					<input type="submit" @click.prevent='connexionUser' name="Sign In" value="Sign up" v-if='accepter == "true" && !is_submited'>														
					<input type="submit" name="Sign In" value="Connexion..." v-if='is_submited'>														
				</form>
				<div class="sign-down">
				<h4>Voua n'avez pas de compte ? <a href="#">cliquez ici</a></h4>
				  <h5><a href="{% url 'index' %}">Go Back to Home</a></h5>
				</div>
			</div>
    </div>
</div>
<!--inner block end here-->
<!--copy rights start here-->
<div class="copyrights">
	  <p>{{ website.copyright }}</p>
</div>	
<!--COPY rights end here-->
<!--scrolling js-->
		<script src="{% static 'js/jquery.nicescroll.js' %}"></script>
		<script src="{% static 'js/scripts.js' %}"></script>
		<!--//scrolling js-->
<script src="{% static 'js/bootstrap.js' %}"> </script>
<!-- mother grid end here-->


<script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
<script src='https://unpkg.com/axios/dist/axios.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script>
	new Vue({
		el: '#user_login_post',
		data: {
			login_email: "",
			login_password: "",
			accepter: "false",
			is_submited: false,
		},
		delimiters: ["${", "}"],
		methods: {
			connexionUser: function() {
				if (!this.login_email || !this.login_password) {
					Swal.fire({
						icon: 'error',
						title: 'Veuillez remplir correctement les champs',
					});
				} else {
					this.is_submited = true
					let formData = new FormData();
					formData.append('email', this.login_email);
					formData.append('password', this.login_password);
					axios.defaults.xsrfCookieName = 'csrftoken';
					axios.defaults.xsrfHeaderName = 'X-CSRFToken';
					axios.post("{% url 'login_post' %}", formData, {})
					.then((response) => {
						if (response.data.success) {
							Swal.fire({
								icon: 'success',
								title: response.data.message,
								showConfirmButton: false,
								timer: 1500
							});
							window.location.replace(response.data.url)
							this.is_submited = false

						} else {
							Swal.fire({
								icon: 'warning',
								title: response.data.message,
								timer: 2000
							});
							console.log(response.data)
							this.is_submited = false
						}
					})
					.catch((err) => {
						Swal.fire({
							icon: 'error',
							title: 'Oops...',
							text: 'Une erreur est survenu veuillez reessayer',
							footer: "<a href>Les developpeurs s'excusent pour les desagrements?</a>",
							timer: 3000
						});
						console.log(err);
						this.is_submited = false
					})
				}
			}
		},
	})
</script>
</body>
</html>
				
